@import "../../../../global.scss";
.sfdc-category{
    padding: 5% 15%;
    img{
        height: 200px;
    }
    .sfdc-category-list{
        padding: 7.5% 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5% 2.5%;
        .sfdc-category-card{
            overflow: hidden;
            position: relative;
            height: 300px;
            width: 100%;
            cursor: pointer;
            &:hover{
                .card-details{
                    transform: translateY(0);
                    animation: list 0.3s;
                    ul{
                        li{
                            animation: list 0.6s;
                        }
                    }
                }
                img{
                    filter: grayscale(35%);
                }
            }
            img{
                height: 100%;
                object-fit: cover;
                z-index: 1;
                transition: 0.3s;
            }
            .card-details{
                position: absolute;
                padding: 10% 2.5% 0 2.5%;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
                transform: translateY(-100%);
                ul{
                    li{
                        list-style-type: none;
                        font-size: calc(8px + 1vw);
                        color: #fff;
                        font-family: 'Patrick Hand', cursive;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .sfdc-category{
        .sfdc-category-list{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 500px) {
    .sfdc-category{
        .sfdc-category-list{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@keyframes list {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
