@import "../../../../global.scss";

.sfdc-header {
    width: 100%;
    height: 90vh;
    position: relative;
    @media screen and (max-width: 600px) {
        height: 350px;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box1{
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 10%;
        right: 5%;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .box2{
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 10%;
        right: 5%;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .box3{
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 10%;
        right: 10%;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .box4{
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 10%;
        right: 10%;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
}
