@import "../../../globals.scss";


.sfdc-form-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a" "b";
  place-items: center;
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: unset;
  }
  img[alt="SFDC-logo"]{
    grid-area: a;
    width: 50%;
    @media screen and (min-width: 480px){
      grid-area: unset;
    }
  }
}
