@import "../../../../global.scss";

.draft-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.404);

  display: flex;
  align-items: center;
  justify-content: center;
  .draft-popup {
    height: 400px;
    width: 600px;
    background-color: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
