@import "../../global.scss";

.logobar {
    background-color: $white;
    text-align: center;
    font-family: $font-collection;
    height: auto;
    min-height: 30vh;
    width: 80%;
    margin: 0 auto;
    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: $blue;
        margin-block: 2em;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        place-items: center;
        @media screen and (min-width: 380px) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(100px, auto);
        }
        @media screen and (min-width: 1080px) {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(100px, auto);
        }
        img {
            object-fit: contain;
            width: 70%;
            @media screen and (min-width: 480px) {
            }
        }
    }
}
