@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
  z-index: 5;
}

@media screen and (min-width: 480px) {
  .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn-home {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-home:hover {
  color: #ffffff;
}

.button-blue {
  background-color: #1c4065;
  color: #ffffff;
  border: 3px solid #64a0dc;
}

.button-skyblue {
  background-color: #356aa0;
  color: #ffffff;
  border: 3px solid #64a0dc;
}

.sbdc-reward .sbdc-reward-header {
  min-height: 400px;
  padding: 10%;
  background-color: #224b75;
  position: relative;
}

.sbdc-reward .sbdc-reward-header .winning-head {
  font-size: 5vmin;
  color: #48c9d8;
  font-weight: 900;
  text-transform: capitalize;
}

.sbdc-reward .sbdc-reward-header .reward-head {
  font-size: 5vmin;
  color: #ffffff;
  font-weight: 900;
  text-transform: capitalize;
}

.sbdc-reward .sbdc-reward-header hr {
  opacity: 1;
  height: 5px;
  width: 50%;
  color: #48c9d8;
}

.sbdc-reward .sbdc-reward-header .reward-coin {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sbdc-reward .sbdc-reward-header .reward-coin img {
  height: 25vmin;
}

.sbdc-reward .sbdc-reward-body {
  max-height: 400px;
  padding: 10%;
  background-color: #ebfdff;
  position: relative;
}

.sbdc-reward .sbdc-reward-body .reward-list ul {
  width: 100%;
}

.sbdc-reward .sbdc-reward-body .reward-list ul li {
  padding: 0rem 0 1rem 3em;
  color: #224b75;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3vmin;
  vertical-align: middle;
  background: url("../../../../assets/list-arrow.svg") no-repeat 7px 0px transparent;
  list-style-type: none;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .sbdc-reward .sbdc-reward-body .reward-list ul li {
    background: url("../../../../assets/list-arrow.svg") no-repeat 2px 2px transparent;
  }
}

.sbdc-reward .sbdc-reward-body .reward-list ul li .usd {
  font-weight: 900;
}

.sbdc-reward .sbdc-reward-body .reward-art {
  position: absolute;
  right: 0;
  top: 0;
}

.sbdc-reward .sbdc-reward-body .reward-art img {
  width: 100%;
}

@media screen and (min-width: 1441px) {
  .sbdc-reward .sbdc-reward-header {
    min-height: 600px;
  }
  .sbdc-reward .sbdc-reward-header .winning-head {
    font-size: 6vmin;
  }
  .sbdc-reward .sbdc-reward-header .reward-head {
    font-size: 6vmin;
  }
  .sbdc-reward .sbdc-reward-header .reward-coin img {
    height: 30vmin;
  }
  .sbdc-reward .sbdc-reward-body {
    min-height: 600px;
    padding: 10%;
    background-color: #ebfdff;
  }
  .sbdc-reward .sbdc-reward-body .reward-list ul {
    width: 100%;
  }
  .sbdc-reward .sbdc-reward-body .reward-list ul li {
    padding: 0rem 0 1rem 3em;
    font-size: 3vmin;
    background: url("../../../../assets/list-arrow.svg") no-repeat 7px 0px transparent;
    list-style-type: none;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1441px) and (max-width: 700px) {
  .sbdc-reward .sbdc-reward-body .reward-list ul li {
    background: url("../../../../assets/list-arrow.svg") no-repeat 2px 2px transparent;
  }
}

@media screen and (max-width: 900px) {
  .sbdc-reward .sbdc-reward-header {
    min-height: 400px;
  }
  .sbdc-reward .sbdc-reward-header .winning-head {
    font-size: 3rem;
  }
  .sbdc-reward .sbdc-reward-header .reward-head {
    font-size: 3rem;
  }
  .sbdc-reward .sbdc-reward-header .reward-coin img {
    height: 25vmin;
  }
  .sbdc-reward .sbdc-reward-body {
    min-height: 400px;
  }
  .sbdc-reward .sbdc-reward-body .reward-list ul li {
    font-size: 2vmin;
  }
  .sbdc-reward .sbdc-reward-body .reward-art {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .sbdc-reward .sbdc-reward-header .reward-coin img {
    height: 50vmin;
  }
  .sbdc-reward .sbdc-reward-body .reward-list ul li {
    font-size: 1.2rem;
    padding-left: 5rem;
  }
}
/*# sourceMappingURL=SbdcReward.css.map */