@import "../../../../global.scss";
.sbdc-reward {
  background: #eef2f4;
  padding: 80px 0;

  .reward-wrapper {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    max-width: 1440px;
    position: relative;
    // gap: 40px;
  }

  .reward-left {
    position: relative;
    // width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .beige-shape {
    position: absolute;
    width: 532px;
    height: 817px;
    background: #FFEFDA;
    top: 0;
    left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: 69px;
    margin-bottom: 147px;

    img {
      width: 601px;
      height: 601px;
      display: block;
      object-fit: cover;
    }
  }

  .reward-right {
    // width: 50%;
    margin-left: 134px;;
    position: relative;

    .pill {
      display: inline-block;
      background: #46b4be;
      color: white;
      padding: 15px 5px;
      border-radius: 80px;
      font-weight: 400;
      margin-bottom: 30px;
      font-size: 29px;
      width: 380px;
      text-align: center;
       margin-bottom:106px;
    }

    .badge {
      position: absolute;
      top: -48px;
      right: 18px;
      width: 207px;
      height: 207px;
      background: #d9d93f;
      border-radius: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     

      span {
        font-weight: 800;
         font-size: 40px;
        color: #638394
      }

      h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 900;
         color: #638394
      }

      small {
        font-size: 24px;
         color: #638394
      }
    }

    h1 {
      font-size: 52px;
      font-weight: 800;
      color: #5d7b8c;
      line-height: 1.3;
      margin-bottom: 45px;
      max-width: 540px;
      text-align: right;
    }

    p {
      font-size: 28px;
      color: #5d6f7a;
      max-width: 498px;
      text-align: right;
    }
  }

  @media (max-width: 1200px) {
    .reward-right {
      padding-left: 40px;

      .badge {
        right: 80px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 60px 20px;

    .reward-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .reward-left,
    .reward-right {
      width: 100%;
    }

    .reward-left {
      height: auto;
    }

    .beige-shape {
      width: 85%;
      height: 100%;
    }

    .image-wrapper {
      margin-top: 60px;
      margin-bottom: 60px;

      img {
        width: 90%;
        height: auto;
        margin: 0 ;
      }
    }

    .reward-right {
      padding-left: 0;

      .pill {
        margin: 0 auto 30px auto;
      }

      .badge {
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto 30px auto;
      }

      h1,
      p {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (max-width: 576px) {
    .reward-right {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }
    }

    .image-wrapper {
      img {
        width: 95%;
      }
    }
  }
}