@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --sfdc-font-color-primary: #223c4d;
}

.sfdc-faq-container {
  background: #e9dfd4;
  font-family: "Roboto", sans-serif;

  @media (max-width: 768px) {
    
    padding:10px;
  }

  h1 {
     margin-left:167px;
    font-size: 42px;
    font-weight: 800;
    color: #223c4d;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: left;
  }
@media (max-width: 1024px) {
  .sfdc-faq-container h1 {
    margin-left: 60px;
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .sfdc-faq-container h1 {
    margin-left: 20px;
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .sfdc-faq-container h1 {
    margin-left: 16px;
    font-size: 22px;
  }
}
  h1::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #f16145;
  }
}

.sfdc-faq-section {
  display: flex;
  justify-content: center;
}

.sfdc-faq-wrapper {
  width: 70%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 1024px) {
    width: 85%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
  }
}

.sfdc-faq {
  background: #ead7bd;
  border-radius: 14px 0 14px 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sfdc-faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 25px;
  color: var(--sfdc-font-color-primary);
}

.sfdc-faq .question h4 {
  font-size: 1.1rem;

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.sfdc-faq .arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.sfdc-faq .arrow.open {
  transform: rotate(180deg);
}

.sfdc-faq .answer {
  color: #5e9b8c;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 25px;
}

.sfdc-faq .answer.show {
  max-height: 1000px;
  padding: 0 25px 20px 25px;
}

.sfdc-faq .answer p {
  margin-bottom: 10px;
  font-size: 0.95rem;
  line-height: 1.6;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}