@import "../../../../global.scss";

.sbdc-header {
  background: #e9eff1;
  min-height: 100vh;

  .row {
    min-height: 100vh;
  }

  .sbdc-header-left {
    padding: 8% 6% 8% 10%;

    .content-box {
      max-width: 427px;
    }

    img {
      width: 320px;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 1.7;
      color: #223C4D;
      margin-bottom: 20px;
    }

    .complete-btn {
      display: inline-flex;
      gap: 14px;
      background-color: #223c4a; 
      color: #ffffff;
      padding: 16px 28px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      border-radius: 40px 0 40px 40px;
      transition: all 0.3s ease;
    }

    .complete-btn img {
      width: 22px;
       margin-bottom: 0px;
    }

    .complete-btn:hover {
      opacity: 0.9;
    }
  }

  .sbdc-header-right {
    min-height: 100vh;
    position: relative;

    h2 {
      color: white;
      font-size: 40px;
      font-weight: 900;
      text-align: center;
      line-height: 1.2;
      max-width: 150px;
    }
  }
}

@media screen and (max-width: 900px) {
  .sbdc-header {
    .sbdc-header-left {
      padding: 60px 30px;
      text-align: center;

      .content-box {
        max-width: 100%;
      }

      img {
        width: 260px;
      }
    }

    .sbdc-header-right {
      min-height: 450px;

      h2 {
        font-size: 38px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sbdc-header {
    .sbdc-header-left {
      padding: 40px 20px;

      img {
        width: 220px;
      }

      p {
        font-size: 14px;
      }

      button {
        padding: 14px 28px;
        font-size: 16px;
      }
    }

    .sbdc-header-right {
      min-height: 350px;

      h2 {
        font-size: 28px;
      }
    }
  }
}
