@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$primaryColor: #224B75;
$secondaryColor: #DF8B48;
$skyBlue: #BCEBF1;
$deepSkyBlue: #48C9D8;
$white: #ffffff;
$lightGreen: #ACE08A;
$lightBlue: #EBFDFF;
$form: #64A0DC;
$text: #373737;
$deepOrange: #F16145;
$cream: #FFF5E4;

$measure: 100px;



