@import "../../../global.scss";

:root {
  --sfdc-background-color: #fff7ec;
  --sfdc-layout-color: #ffefda;
}

.sfdc-home {
  background-color: var(--sfdc-background-color);

  .large-circle-layout {
    position: absolute;
    top: -100px;
    left: 1100px;

    @media screen and (max-width: 1440px) {
      height: 60%;
      left: 700px;
    }
    @media screen and (min-width: 2500px) {
      left: 1600px;
    }
  }
  .main-content {
    h1 {
      margin-bottom: 0 !important;
    }
  }
}
